/* add all items from grading group 3 and 4. Search for items in group 5 that refer to css f.e. z index */ 

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* fonts start*/

nav {
    font-family: 'Hammersmith One', sans-serif;
}

body, html {
    color: #521E82;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* fonts end */

main {
    padding-bottom: 1rem;
}

img {
    height: auto;
    width: 100%;
}

figcaption {
    color: #000000;
    text-align: center;
}

article {
    padding-top: 10px;
    padding-bottom: 20px;
}

form {
    padding-top: 1em;
}

footer {
    clear: both;
    position: relative;

    display: grid;
    grid-template-columns: 30% 30%;

    background-color: #9A96B6;
    color: #000;

    border-top: 1.5em solid #9A96B6;
    border-bottom: 1.5em solid #9A96B6;
}

footer ul { 
    list-style-type: none;
}

footer ul li {
    padding-bottom: 5px;
}

footer ul li a {
    color: #000000;
    text-decoration: none;

    transition-duration: 0.2s;
}

footer ul li a:hover {
    text-decoration: underline 4px #85C0C7;
}

.disclaimer {
    padding: 25px;
    color: #000000;
}

.textBox {
    border: 2px solid #000000;
    border-radius: 15px;
    height: 48px;
    width: 263px;
}

.textLinks {
    color: #d81f1f;
}

.sluitertijd {
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logoFooter {
    width: 60%;
    height: auto;
}

.contact article{
    color: #000000;
}

.contact ul li {
    list-style: none;
}

/* grid areas start */
/* titles */
.title1 {
    grid-area: title1;
}

.title2 {
    grid-area: title2;
}

.title3 {
    grid-area: title3;
}

/* articles */
.article1 {
    grid-area: article1;
    padding-top: 25px;
}

.article2 {
    grid-area: article2;
    padding-top: 25px;
}

.article3 {
    grid-area: article3;
    padding-top: 25px;
}

.article4 {
    grid-area: article4;
    padding-top: 25px;
}

.article5 {
    grid-area: article5;
    padding-top: 25px;
}

/* subarticles */
.subarticle1 {
    grid-area: subarticle1;
    padding-top: 25px;
}

.subarticle2 {
    grid-area: subarticle2;
    padding-top: 25px;
}

.subarticle3 {
    grid-area: subarticle3;
    padding-top: 25px;
}

/* unordered lists */
.unorderedList1 {
    grid-area: unorderedList1;
    padding-top: 25px;
    padding-left: 25px;
}

.unorderedList2 {
    grid-area: unorderedList2;
    padding-top: 25px;
    padding-left: 25px;
}

.unorderedList3 {
    grid-area: unorderedList3;
    padding-top: 25px;
    padding-left: 25px;
}

.unorderedList4 {
    grid-area: unorderedList4;
    padding-top: 25px;
    padding-left: 25px;
}

.unorderedList5 {
    grid-area: unorderedList5;
    padding-top: 25px;
    padding-left: 25px;
}

/* images */
.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

/* seperate text */
.seperateText1 {
    grid-area: seperateText1;
    border: var(--text-border) solid transparent;
}

/* forms */
#form {
    grid-area: form;
}

#form-all {
    grid-area: form-all;
}

#name {
    grid-area: name;
}

#email {
    grid-area: email;
}

#subject {
    grid-area: subject;
}

#phoneNumber {
    grid-area: phoneNumber;
}
/* grid areas end */

#radioButtons {
    grid-area: radioButtons;
}

#message {
    grid-area: message;
}

/* send button in form */
.sendButton {
    grid-area: submit;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 50px;

    color: #521E82;
    background-color: #81CD7E;
    text-align: center;
    padding: 14px 16px;
    border-radius: 4px;

    height: 45px;
    width: 236px;

    cursor: pointer;
    transition-duration: 0.4s;
}

.sendButton:hover {
    background-color: #29e723;
}

#verzonden {
    position: absolute;
    bottom: 0;
}


/* mobile */
@media screen and (max-width: 767px) {
    main {
        width: 80%;
        margin: auto;

        font-size: 15px;
    }

    footer {
        clear: both;
        position: relative;

        display: flex;

        background-color: #9A96B6;
        color: #000;

        border-top: 1.5em solid #9A96B6;
        border-bottom: 1.5em solid #9A96B6;
    }

    footer ul {
        float: right;
        padding-right: 20px;
    }

    /* hamburger menu start */

    #menu-toggle {
        display: none;
    }

    .hamburger {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .hamburger span {
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #000000;
        border-radius: 50px;
    }

    .hamburger span:nth-child(1) {
        top: 0;
    }

    .hamburger span:nth-child(2) {
        top: 9px;
    }

    .hamburger span:nth-child(3) {
        bottom: 0;
    }

    .menu {
        position: absolute;
        top: 0;
        right: -300px;
        width: 300px;
        height: 260px;
        background-color: #9A96B6;
        color: #FFFFFF;
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu ul li {
        padding: 10px;
    }

    .menu ul li a {
        color: #521E82;
        text-decoration: none;
    }

    #menu-toggle:checked~.menu {
        left: 0;
    }

    /* hamburger menu end */

    .textBox {
        width: 240px;
    }

    .logo {
        height: auto;
        width: 50%;
    }

    .pc {
        display: none;
    }

    #topBar {
        background-color: #9A96B6;
        padding: 5%;
    }

    #topBar p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #topBar a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #messageBox {
        height: 177px;
        width: 220px;

        padding: 10px;
    }

    #cookies {
        writing-mode: sideways-rl;

        z-index: 9999;
        position: fixed;
        right: 0;
        bottom: 0;
        background: #81CD7E;
        padding: 5px;
    
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

/* desktop */
@media screen and (min-width: 768px) {
    nav {
        grid-area: nav;

        text-align: center;
        background-color: #9A96B6;
        border-top: 1em solid #9A96B6;
        border-bottom: 1.5em solid #9A96B6;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    
        border-radius: 10px;
    }

    nav li {
        display: inline-flex;
    }
    
    nav li a {
        display: block;
        color: #521E82;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 10px;
        background-color: #85C0C7;
    
        transition-duration: 0.4s;
    }

    nav li a:hover:not(.active) {
        background-color: #33b1be;
        color: #521E82;
    }

    nav .active {
        background-color: #81CD7E;
        color: #521E82;
    
        cursor: not-allowed;
    }

    main {
    width: 65%;
    margin: auto;

    border-width: 2em;
    border-color: transparent;
    border-style: solid;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.5px;
    } 

    article header h2 {
        padding-bottom: 10px;
    }

    img {
        border-radius: 25px;
    }

    .logo {
        width: 40%;
        height: auto;
    }

    .instellingenSluitertijd {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    .mobile {
        display: none;
    }

    /* grid area per page start*/

    #grid-container-cameras {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 
        "article1 article1"
        "unorderedList1 unorderedList1"
        "seperateText1 seperateText1"
        "unorderedList2 unorderedList2"
        "title1 title1"
        "subarticle1 img1"
        "img2 subarticle2"
        "subarticle3 img3"
        ;
    }

    #grid-container-instellingen {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "title1 title1"
        "article1 article1"
        "img1 img1"
        "title2 title2"
        "article2 article2"
        "img2 img3"
        "title3 title3"
        "article3 img4"
        "seperateText1 seperateText1"
        ;
    }

    #technieken {
        grid-area: technieken;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "title1 title1"
        "article1 img1"
        "article2 img1"
        "article3 img2"
        "article4 img3"
        "article5 img3"
        ;
    }

    #grid-container-technieken {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 
        "technieken technieken"
        ;
    }

    #grid-container-cameramodes {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: auto auto;
        grid-template-areas:
        "title1 title1"
        "article1 article1"
        "unorderedList1 img1"
        "img2 article2"
        "img3 unorderedList2"
        "unorderedList3 unorderedList3"
        "seperateText1 seperateText1"
        "title2 title2"
        "article3 article3"
        "unorderedList4 unorderedList4"
        "article4 article4"
        "unorderedList5 img4"
        "article5 article5"
        ;
    }

    #form {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "radioButtons radioButtons"
        "name email"
        "subject phoneNumber"
        "message message"
        "submit submit"
        ;
    }

    #form-all {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "form"
        ;
    }

    #grid-container-contact {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "title1 title1"
        "article1 article1"
        "form-all form-all"
        ;
    }

    /* grid area per page end */

    /* home page side by side images */
    #grid-image-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 100px;
    }

    #grid-image-container img {
        border-radius: 100px;
        padding: 5%;
    }

    #messageBox {
        height: 177px;
        width: 99.7%;
        padding: 10px;
    }

    #optional {
    font-size: 10px;
    }

    #cookies {
        z-index: 9999;
        position: fixed;
        right: 0;
        bottom: 0;
        background: #81CD7E;
        padding: 5px;

        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}