.imgHome {
    float: center;
    width: 25%;
    padding: 25px;
    border-radius: 35px;

}

.rightIMG {
    float: right;
    clear: both;
    margin: 5px;
    width: 25%;
    border-radius: 15px;
}

.center {
    text-align: center;
}

.column {
    float: left;
    width: 250px;
    height: auto;
    padding: 5px;
    border: 5px solid transparent;
    border-radius: 40px;
}



h1 {
    text-align: center;
}

nav {
    text-align: center;
    border: 2px solid #F0F0F0;
    border-radius: 14px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #96C2DB;
        border-radius: 10px;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 10px;
    }

    li a:hover:not(.active) {
        background-color: #33CCFF;
        color: #FFF;
    }

    .active {
        background-color: #ff74d1;
        color: #FFFFFF;
    }
}

img {
    width: 33%;
    height: auto;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F0F0F0;

    background-image: url("../img/background/backgroundHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    background-color: #E5EDF1;
    border: 50px solid transparent;
    border-top: 5px solid transparent;
}